body {
	margin: 0;
	background-image: url(../images/grey_sandbag.png);
	color: black;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.fin_float {
	clear: both;
}

ul, li {
	list-style-type: none;
}

p {
	text-indent:50px;
	line-height: 1.5;
}

a:link, a:hover, a:visited, a:active { 
	text-decoration: none;
	color: black;
} 

/* ----- Header ----- */
#header {
	background-image: url(../images/grey_wash_wall.png);
	color: white;
	height: 125px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}

#header a {
	color: white;
}

#header_menu ul li {
	float: left;
	width: 15%;
}

/* ----- Footer ----- */
#footer {
	background-image: url(../images/grey_wash_wall.png);
	color: white;
	height: 150px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}

#footer a {
	color: white;
}

.footer_top {
	float: left;
	width: 33%;
}

#footer_bottom {
	margin-bottom: 25px;
}

/* ----- Articles ----- */
.container {
	padding-top: 150px;
	margin: 0 5% 0 5%;
}

/* Accueil */


/* Contact */
