{# src/Altgeek/OeuvreBundle/Ressources/views/OeuvreViews/books.html.twig #}
{% extends "AltgeekCoreBundle::index.html.twig" %}

	{% block body %}
		<p>{{ 'Hello Books !'|trans }}</p>
		<a href="{{ path('altgeek_oeuvre_view', {'id': oeuvre.id}) }}">
        	{{ oeuvre.title }}
      	</a>
	{% endblock %}
