{# src/Altgeek/OeuvreBundle/Ressources/views/OeuvreViews/movies.html.twig #}
{% extends "AltgeekCoreBundle::index.html.twig" %}

	{% block body %}
		<p>{{ 'Hello Movies !'|trans }}</p>
	{% endblock %}
