{# src/Altgeek/OeuvreBundle/Ressources/views/OeuvreViews/tvshows.html.twig #}
{% extends "AltgeekCoreBundle::index.html.twig" %}

	{% block body %}
		<p>{{ 'Hello Tv Shows !'|trans }}</p>
	{% endblock %}
