{# src/CoreBundle/Ressources/views/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% block title %}
      Watcha Doing ?
    {% endblock %}
  </title>

  {% block stylesheets %}
  	<link rel="stylesheet" href="{{ asset('css/coreStyle.css') }}">
  {% endblock %}
</head>

<body>
  <div class="container">
    {{ include("AltgeekCoreBundle:CoreViews:header.html.twig") }}

	<div id="content" class="col-md-9">
		{% block body %}
		<p> {{ 'Homepage content'|trans }} </p>
		{% endblock %}
	</div>

    {{ include("AltgeekCoreBundle:CoreViews:footer.html.twig") }}
</body>
</html>